{% extends 'page_user.html' %}

{% block personal %}
{% for i in users %}
{% if i.name == name %}
<p>Name: {{ i.name }}</p>
<p>Email: {{ i.email }}</p>
<p>Password: {{ i.password }}</p>
{% endif %}
{% endfor %}
{% endblock personal %}

{% block posts %}
{% for i in posts %}
{% if i.name == name %}
<h4>Title: {{ i.title }}</h4>
<p>Description: {{ i.description }}</p>
<a href="{% url 'edit_post' i.id %}">
    <button>Edit</button>
</a>
<span>|</span>
<a href="{% url 'delete_post' i.id %}">
    <button>Delete</button>
</a>
{% endif %}
{% endfor %}
{% endblock posts %}
