{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User login</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
</head>
<body>
<h1>Login</h1>
<form method="post" action="{% url 'login_check' %}">
    {% csrf_token %}
    <label>Email</label>
    <input name="email">
    <br><br>
    <label>Password</label>
    <input name="password">
    <br><br>
    <button type="submit">Login</button>
</form>
<br>
<a href="{% url 'main_page' %}">
    <button>Back</button>
</a>
</body>
</html>