{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your page</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
</head>
<body>
<a href="{% url 'main_page' %}">Logout</a>
<hr>
<h1>Hello, {{ name }}!</h1>
<p>Add post...</p>
<form action="{% url 'add_post' %}">
    <label>Title</label>
    <input type="text" name="title">
    <br><br>
    <label>Description</label>
    <input type="text" name="description">
    <br><br>
    <button type="submit">Post it</button>
</form>
<hr>
<h3>Your information:</h3>
{% block personal %}
{% endblock personal %}
<hr>
<h3>Your posts:</h3>
{% block posts %}
{% endblock posts %}
</body>
</html>