<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User {{ name }}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
</head>
<body>
<h1>Author: {{ name }}</h1>
{% for i in personal %}
{% if i.name == name %}
<p>Status: {{ i.status }}</p>
{% endif %}
{% endfor %}
{% for i in users %}
{% if i.name == name %}
<p>Date registration: {{ i.date_registration }}</p>
{% endif %}
{% endfor %}
<h2>All posts:</h2>
{% for i in posts %}
{% if i.name == name %}
<h4>Title: {{ i.title }}</h4>
<p>Description: {{ i.description }}</p>
<p>Date of publication: {{ i.date_publication }}</p>
{% if i.date_change != i.date_publication %}
    <p>Date of change: {{ i.date_change }}</p>
{% endif %}
<p>* * *</p>
{% endif %}
{% endfor %}
<a href="{% url 'main_page' %}">
    <button>Back</button>
</a>
</body>
</html>